<!DOCTYPE html>

<html lang="en">
<head>
    <title>Seating Needs</title>
</head>

<body>
    {% if error == True %}
    Please insert a number value.
    <br/>
    <br/>
    {% endif %}

    {% if reserve_too_high == True %}
    The restaurant unfortunately doesn't have enough seating available for a party that large that day.  You may modify the number of seats needed below.
    <br/>
    <br/>
    {% endif %}

    <form action="reserve_table.html" method="post">
        <label for="cust_number">Would many dining seats are needed for this reservation?</label>
        <input type="text" id="cust_number" name="seat_num" value="2">
        <br/>
        <label for="date_field">For which date is the reservation for</label>
        <input type="date" id="date_field" name="date_field">
        <br/>
        <button type="submit">Reserve Table</button>
    </form>
</body>
</html>