<!DOCTYPE html>

<html lang="en">
<head>
    <title>User Login Portal</title>
</head>

<body>
    {% if result == "NO USER" %}
    <p>User does not exist in the system.  Please try again.</p>
    <br/>
    <br/>
    {% endif %}
    {% if result == "BAD PASSWORD" %}
    <p>Provided password for that user doesn't match the system's password.  Please try again.</p>
    <br/>
    <br/>
    {% endif %}
    <form action="login_user" method="post">
        <label for="name_field">Username :</label>
        <input type="text" id="name_field" name="name_field">
        <br/>
        <label for="password">Password :</label>
        <input type="text" id="password" name="password">
        <br/>
        <br/>
        <button type="submit">Login</button>
        <br/>
        
    </form>
    <button type="submit" onclick="window.location.href='splash.html'">Back to Table Date Picking</button>
    <br/>
    <br/>
</body>
</html>