<!DOCTYPE html>

<html lang="en">
<head>
    <title>Table Reservation Page</title>
</head>

<body>
    <form action="confirm_table.html" method="post">
        {% if logged_in == False %}
            <p> Please fill out some information for the reservation.</p>
            <label for="name_field">Name for the reservation:</label>
            <input type="text" id="name_field" name="name_field">
            <br/>
            <label for="phone_num">Phone Number:</label>
            <input type="text" id="phone_num" name="phone_num">
            <br/>
            <label for="payment">Payment Method:</label>
            <input type="text" id="payment" name="payment">
            <br/>
        {% endif %}
        <input type="hidden" id="table" name="table" value="{{table_id}}">
        <input type="hidden" id="date" name="date" value="{{date}}">
        <p> Please confirm your reservation of {{num_seats}} on {{date}} by clicking the button below.</p>
        <button type="submit">Confirm Reservation</button>
    </form>
</body>
</html>