<!DOCTYPE html>

<html lang="en">
<head>
    <title>Welcome to {{company_name}}'s Reservation Page!</title>
</head>

<body>
    <h1>Welcome to {{company_name}}'s Reservation Page!</h1>
    <p>To get started, please select the date below you wish to reserve a table for.</p>

    <form action="select_date" method="post">
        <label for="date_picker">Please select a date to view tables for: </label>
        <input type="date" id="date_picker" name="date_picker">
        <button type="submit">View Date</button>
    </form>
    {% if date_picked == True %}
    <h1>Below are the available tables.<h1>
    <ul>
    {% for table in tables%}
        <li>Table seating {{table.size}}</li>
        <br/>
    {% endfor %}
    </ul>
    <button type="submit" onclick="window.location.href='reservation.html'">Would you like to make a reservation?</button>
    {% endif %}
    <br/>
    <br/>
    <button type="submit" onclick="window.location.href='login.html'">User Account</button>
    <script>
        document.getElementById('date_picker').value = new Date().toDateInputValue();
    </script>
</body>
</html>