<!DOCTYPE html>

<html lang="en">
<head>
    <title>User {{username}}'s Profile</title>
</head>

<body>
    <h1>User {{username}}'s Profile</h1>
    <br/>
    <form action="update_user">
        <label for="name_field">User's Name :</label>
        <input type="text" id="name_field" name="name_field" value="{{fullname}}">
        <br/>
        <label for="password">Password :</label>
        <input type="text" id="password" name="password" value="{{password}}">
        <br/>
        <label for="phone_num">Phone Number :</label>
        <input type="text" id="phone_num" name="phone_num" value="{{phone}}">
        <br/>
        <label for="payment">Payment Method :</label>
        <input type="text" id="payment" name="payment" value="{{payment}}">
        <br/>
        <label for="billing">Billing Address :</label>
        <input type="text" id="billing" name="billing" value="{{billing}}">
        <br/>
        <label for="mailing">Mailing Address :</label>
        <input type="text" id="mailing" name="mailing" value="{{mailing}}">
        <br/>
        <label for="diner_num">Preferred Diner # :</label>
        <input type="text" id="diner_num" name="diner_num" value="{{diner_num}}" readonly>
        <br/>
        <label for="points">Earned points :</label>
        <input type="text" id="points" name="points" value="{{points}}" readonly>
        <br/>
        <br/>
        <button type="submit">Update User Information</button>
    </form>
    <button type="submit" onclick="window.location.href='splash.html'">Back to Table Date Picking</button>
    <br/>
    <br/>
</body>
</html>